# python & development directories
.ipynb_checkpoints/
__pycache__/

# Project specific ignore entries
bin
build
dockerconfig/*.secret
stacktrace_key
reports/api_key.py
reports/nc_heatmap.html
reports/data.js
data/raw_data/shapefile*
